<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mvp.css') }}" />
  </head>
  <body>
    <section>
      <div>
        <nav>
          <ul><li>
                <a href="{{ url_for('fantleague.welcome') }}"> Home </a>
                </li>
                <li>
                <a
                  href="{{ url_for('fantleague.league_table_view') }}">
                  Leader Board
                </a>
                </li>
                {% if current_user.is_authenticated %}
                <li><a
                  href="{{ url_for('fantleague.profile') }}">
                  Profile
                </a></li>
                <li><a
                  href="{{ url_for('fantleague.add_prediction') }}">
                  Add Predictions
                </a></li>
                {% endif %} {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}" >
                  Login
                </a></li>
                <li><a href="{{ url_for('auth.signup') }}" >
                  Sign Up
                </a></li>
                {% endif %} {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}" >
                  Logout
                </a></li>
                {% endif %}
                <li><a href="{{ url_for('fantleague.help') }}" >
                  Help
                </a></li>
        </nav>
      </div>
      <div>
        <div">
          {% block content %} {% endblock %}
          <form>
            <input type="button" value="Go back!" onclick="history.back()" />
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
